Desktop
Documents
Downloads
Music
Pictures
Public
Templates
testbench
Videos
.ICEauthority
.bash_history
.cache
.config
.gnupg
.local
.mozilla
.python_history
.ssh
.sudo_as_admin_successful
.vim
.viminfo
